*.lnk
*.zip
*.ps1
.local
!AddSounds.ps1
!CreateSoundPack.ps1
!RemoveSounds.ps1
!build.ps1
motor_sounds/*
!motor_sounds/kml.msep
!motor_sounds/kml-MTR.zip
!motor_sounds/loop.ogg
!motor_sounds/opdr.ogg
!motor_sounds/clsdr.ogg
resourcepack/assets/mtr/sounds
resourcepack/assets/mtr/sounds.json
resourcepack/assets/mtr/kmlr.bbmodel
resourcepack/assets/mtr/kmllcdstr.bbmodel
resourcepack/pack.mcmeta
