Version 1.0

[MTR]
MotorNoiseDataType = 5
MotorVolumeMultiply = 1
DoorCloseSoundLength = 1

[Run]

[Motor]
0 = motor0.wav
1 = motor1.wav
2 = motor2.wav
3 = motor3.wav
4 = motor4.wav
5 = motor5.wav
6 = motor6.wav

[Others]
# Constantly played in background.
Noise = motor4.wav

# Plays when the doors open and close.
[Door]
Open = motor6.wav
Close = motor5.wav
